@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Inter:wght@100..900&display=swap');


:root {
    /* Primary */
    --teal-blue: #1A7F8C;
    /* Secondary */
    --soft-coral: #FF6F61;
    /* Neutral colors */
    --dark-charcoal: #333;
    --light-slate-gray: #f1f1f1;
    /* Accent color */
    --golden-yellow: #FFC947;
    /* Text colors */
    --text-primary: #FFF;
    --text-secondary: #B0B0B0 ;

    --primary-font: "Mulish", Tahoma, Geneva, Verdana, sans-serif;;
    --h1: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    --h2: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    --h3: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    --h4: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: var(--primary-font);
    line-height: 1.6;
    background-color: var(--light-slate-gray);
}

/* Header Styling */
header {
    background-color: white;
    color: var(--teal-blue);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-secondary);
}

header .logo {
    margin-left: 30px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: var(--electric-blue);
    text-decoration: none;
    text-transform: uppercase;
}

/* Section Styling */
section {
    padding: 2rem;
    margin: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--h2);
    color: var(--electric-blue);
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* About Section */
#about p {
    text-align: center;
}

/* Services Section */
#services ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#services li {
    font-size: 1.2rem;
}

/* Games Gallery */
#games .games-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#games .game-item {
    text-align: center;
}

#games .game-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}













.logo img {
    height: 2.5rem;
}